* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background: #0b0f19;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-section {
  width: 100%;
  display: flex;
  height: fit-content;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-section input {
  width: 200px;
}
